@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.pokeball {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/192/788/7/video-games-retro-games-anime-cartoon-wallpaper-preview.jpg");
}

.pokemon-font {
  font-family: "Pokemon", sans-serif;
  color: red;
  text-shadow: 2px 2px white;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.search-input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.search-button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #e2001a;
  color: #fff;
  cursor: pointer;
}

.forecast-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  height: em(50px);
  margin: 0 auto 1rem;
  position: relative;
  width: em(50px);
  position: relative;
  width: 150px;
  height: 150px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  animation-play-state: paused;
}

/* .forecast-summary::before,
.forecast-summary::after {
  content: "";
  position: absolute;
}

.forecast-summary::before {
  background: red;
  width: 100%;
  height: 50%;
}

.forecast-summary::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 10px;
  background: #000;
} */

.forecast-summary:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
  background-size: cover;
  border-radius: 50%;
}

.forecast-date {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-icon {
  margin-bottom: 10px;
  font-size: 60px;
}

.forecast-temperature {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #e2001a;
}

.forecast-description {
  font-size: 20px;
  margin-top: 10px;
  color: #666;
}

.location-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.forecast-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-details p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #666;
}

.forecast-details .pokemon-type {
  display: flex;
  flex-direction: row-reverse;
  font-size: 40px;
  margin-top: 10px;
  color: #e2001a;
}
