.forecast-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

.forecast-details__date {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.forecast-details__temperature {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.forecast-details__description {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.forecast-details__icon {
  width: 10rem;
  margin-bottom: 1rem;
}

.forecast-details__humidity,
.forecast-details__wind-speed,
.forecast-details__wind-direction {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.forecast-details__humidity span,
.forecast-details__wind-speed span,
.forecast-details__wind-direction span {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .forecast-details {
    font-size: 2rem;
  }

  .forecast-details__date {
    font-size: 4rem;
  }

  .forecast-details__temperature {
    font-size: 4rem;
  }

  .forecast-details__description {
    font-size: 3rem;
  }

  .forecast-details__icon {
    width: 15rem;
  }

  .forecast-details__humidity,
  .forecast-details__wind-speed,
  .forecast-details__wind-direction {
    font-size: 2rem;
  }
}
