/* .forecast-summaries {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-size: 100px;
  background: rgba(0, 0, 0, 0.884);
  color: white;
  padding: 1.5rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1rem;
  background-image: url("https://assets.pokemon.com/assets/cms2/img/pokedex/full/351.png");
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search button {
  margin: 1rem;
  border-radius: 50%;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  outline: none;
  background-color: rgba(92, 88, 88, 0.644);
  color: white;
}
.search button:hover {
  background-color: rgb(92, 88, 88);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 50px;
  width: 15rem;
  height: 2.5rem;
  background-color: rgba(92, 88, 88, 0.644);
  color: white;
  font-family: inherit;
  font-size: 100%;
}
.description {
  text-transform: capitalize;
} */

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
/* @media only screen and (min-width: 601px, max-width: 600px) {
  .forecast-summaries {
    font-size: 70px;
  }
} */
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
} */

/* Set up a background image for the app */
