.forecast-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  height: em(50px);
  margin: 0 auto 1rem;
  position: relative;
  width: em(50px);
  position: relative;
  width: 250px;
  height: 200px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: scroll;
  box-shadow: inset -10px 10px 0 10px #ccc;
}
.forecast-summary:hover {
  background-color: #e2001a;
  color: #fff;
  cursor: pointer;
  background-size: cover;
  border-radius: 50%;
}

.forecast-date {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-icon {
  margin-bottom: 10px;
  font-size: 60px;
}

.forecast-temperature {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #e2001a;
}

.forecast-description {
  font-size: 20px;
  margin-top: 10px;
  color: #666;
}
.location-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
